<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PetShop-Juguetes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styleAccesorios.css" type="text/css">
</head>

  <section class="container-fluid">
    <div class="container pt-3 pb-3">
      <div class="row botones">
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAlimSeco")"><button class="btn btn-primary text-light " type="button">Alimento seco
              para perros</button></a>
        </div>
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAlimHumedo")"><button class="btn btn-primary text-light" type="button">Alimento
              húmedo para perros</button></a>
        </div>
        <div class="col text-center">
          <a href="@Url.Action("Index","petHousePetShopJuguetes")"> <button id="bRA"class="btn btn-primary text-dark"
              type="button">Juguetes</button>
          </a>
        </div>
        <div class="col">
          <a href="@Url.Action("Index","petHousePetShopAccesorios")"> <button  class="btn btn-primary text-light "
              type="button">Ropa y Accesorios
            </button> </a>
        </div>
      </div>

      </div>
      <div class="container pt-3">
        <div class="row">
          <div class="col">
            <img src="./imagenes/ju1.png" alt="" width="140" height="150">
            <h4 class="text-dark">Pelota verde/azul</h4>
            <h4 class="text-dark">S/18.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ju2.jpg" alt="" width="140" height="150">
            <h4 class="text-dark">Soga con pelota transparente </h4>
            <h4 class="text-dark">S/18.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ju3.jpg" alt="" width="140" height="150">
            <h4 class="text-dark">Mordedor de goma</h4>
            <h4 class="text-dark">S/27.00</h4>
          </div>
          <div class="col">
            <img src="./imagenes/ju4.jpg" alt="" width="140" height="150">
            <h4 class="text-dark">Hueso Multipropsito </h4>
            <h4 class="text-dark">S/29.00</h4>
          </div>




        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <img src="./imagenes/ju5.jpg" alt="" width="140" height="150">
              <h4 class="text-dark">Juguete pollo chillon</h4>
              <h4 class="text-dark">S/50.00</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ju6.jpg" alt="" width="140" height="150">
              <h4 class="text-dark">Gnawlers - Bone Large</h4>
              <h4 class="text-dark">S/10.40</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ju7.jpg" alt="" width="140" height="150">
              <h4 class="text-dark">Juguete chupon grande</h4>
              <h4 class="text-dark">S/10.90</h4>
            </div>
            <div class="col">
              <img src="./imagenes/ju8.jpg" alt="" width="140" height="150">
              <h4 class="text-dark">Pelota grande sonaja</h4>
              <h4 class="text-dark">S/20.00</h4>
            </div>


          </div>
          <div id="marcas" class="container">
            <h3 class="text-center">ASOCIADAS CON MARCAS RECONOCIDAS</h3>
            <div class="row">
              <div class="col">
                <img src="./imagenes/log6.png" alt="" width="100" height="60">

              </div>
              <div class="col">
                <img src="./imagenes/log1.jpg" alt="" width="100" height="46">

              </div>
              <div class="col">
                <img src="./imagenes/log2.png" alt="" width="100" height="46">

              </div>
              <div class="col">
                <img src="./imagenes/log3.jpg" alt="" width="120" height="50">

              </div>
              <div class="col">
                <img src="./imagenes/log4.jpg" alt="" width="180" height="70">
              </div>
              <div class="col">
                <img src="./imagenes/log5.png" alt="" width="100" height="80">
              </div>
              <div class="col">
                <img src="./imagenes/log7.png" alt="" width="180" height="50">
              </div>
            </div>
  </section>