  <main class=" mainxd d-block p-2  text-white  d-flex align-items-center ">
    <!-- bg-info  vh-100 -->
    <section class="container-fluid">
      <div class="row">
        <div class="col-12 pt-2 text-center">
          <img  src="./Imagenes/imageblog01.png" width="1000" class="img-fluid">
        </div>
      </div>
      <span class="">
        <h1 class="fs-1 p-3">BLOG</h1>
      </span>
      <hr>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 pt-2 text-center">
          <div>
            <img src="./Imagenes/imageblog02.png" style="float: none;" class="img-fluid" width="500" height="500"/>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 pt-2 text-center">
          <span class="text-primary text-center">
            <h3 class="pt-3">
              ¿Buscas una Veterinaria? ¡Elige Pet House!
            </h3>
          </span>
          <div>
            Una veterinaria es un establecimiento que proporciona servicios para animales, como vacunas y cuidados de
            primera necesidad. Aquí, personas especializadas se encargan de ayudar a que nuestros engreídos estén bien y
            gocen de buena salud. ¿Estás buscando una veterinaria y no sabes cuál elegir? Si es así, entonces has
            llegado al lugar correcto.
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div>
            <img src="./Imagenes/imageblog03.png" style="float: right;" class="img-fluid p-3" width="500" height="500"/>
            <span class="text-primary text-center">
              <h3 class="pt-3">
                ¡Veterinaria Pet House, Tu Mejor Opción!
              </h3>
            </span>
            <div class="text-center" >
              La veterinaria es una institución asociada a la atención de animales, por lo general de aquellos
              domésticos como perros y gatos (por citar unos ejemplos). Esto los vuelve servicios indispensables para
              las familias, siendo de todo menos una tarea sencilla encontrar aquella que sea confiable para los
              cuidados y necesidades de nuestras mascotas.
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12 pt-2 text-center">
          <div>
            <img src="./Imagenes/imageblog04.png" style="float: none;" class="img-fluid" width="500" height="500"/>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12 pt-2 text-center">
          <span class="text-primary text-center">
            <h3 class="pt-3">
              ¿Qué lenguaje utilizan los perros para comunicarse?
            </h3>
          </span>
          <div>
            Los perros no entienden nuestro lenguaje hablado, pero son capaces de entender si estamos chillando,
            emitiendo un tono de voz “seguro” o un tono de voz amenazador. Por ello, priorizaremos siempre un tono suave
            y bajo, que evite ponerle en tensión o amenaza. Asimismo, evitaremos repetir muchas veces la misma cosa
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div>
            <img src="./Imagenes/imageblog05.png" style="float: right;" class="img-fluid p-3" width="500" height="500"/>
            <span class="text-primary text-center">
              <h3 class="pt-3">
                Pet House Accesorios Para Mascotas: ¡Variedad De Artículos En Un Solo Lugar!
              </h3>
            </span>
            <div class="text-center">
              El mercado actual de complementos para animales se ha incrementado gracias a que son más las personas que
              se muestran interesadas en adquirirlos como complementos para sus compañeros del hogar. Sabemos que
              cuidarlos es una de tus prioridades, y eso significa que estás constantemente pendiente de que no les haga
              falta lo necesario.
            </div>
          </div>
        </div>
      </div>

    </section>

  </main>
