<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styleServicios.css" type="text/css">
  </head>

    <main class=" mainV d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->
      
      <div class="container ">
        <div class="row mb-5 mt-5">

          <div class="col-12 col-sm-0 col-md-3 "></div>                    

          <div class="col-12 col-sm-0 col-md-6 border-top border-bottom border-warning border-3">
            <div class="row">
              <div class="col-12 col-sm-0 col-md-6 "> 
                <div class=" pt-5 pb-5 ">
                  <h1>Nuestras</h1>              
                  <h1>Especialidades.</h1>
                 </div>

              </div>
              <div class="col-12 col-sm-0 col-md-6 text-center"> 

                <a href="#"> <img class = "img-fluid " src="./imagenes/logo.png" alt="huella" width="190" height="190" ></a>   

              </div>
            </div>
            
          </div>       
                       
        </div>        
      </div>
    </main>







    <main class=" mainB d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-8  d-flex align-items-center">
            <div class="text-center">
              <h1 class="textV">  Traumatologia</h1>
              <br>
              <p class="textV">La traumatología veterinaria es un área muy amplia, en la que tratamos problemas desde fracturas de distintos
                 grados de complejidad, a problemas articulares (como rupturas de ligamentos, o luxaciones) o alteraciones congénitas.
                  Cada caso de esta rama se valora para decidir la mejor forma de abordar el problema.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-4  ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/traumatologia.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
        </div>        
      </div>
    </main>
    
    
    <main class=" mainV d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->
      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-4  ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/cardiologia.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-8  d-flex align-items-center">
            <div class="text-center">
              <h1 class="">  Cardiología</h1>
              <br>
              <p>Un especialista en cardiología o cardiólogo veterinario es el encargado de vigilar el corazón de nuestras mascotas, 
                teniendo la formación y capacidad suficiente como para diagnosticar y tratar los problemas en el sistema cardiovascular
                 de estos pequeños animales.
              </p>
            </div>
          </div>
          
        </div>        
      </div>
    </main>

    <main class=" mainB d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-8  d-flex align-items-center">
            <div class="text-center">
              <h1 class="textV">Nutrición</h1>
              <br>
              <p class="textV">Corregirás posibles carencias alimenticias de los perros, evaluarás el estado nutricional del animal y 
                establecerás pautas nutricionales en función de sus necesidades. Usarás la alimentación y nutrición equilibrada como 
                elemento para prevenir posibles enfermedades o problemas de salud en los perros que trates.
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-4  ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/nutricion.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
        </div>        
      </div>
    </main>
    
    
    <main class=" mainV d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->
      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-4  ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/oncologia.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-8 d-flex align-items-center">
            <div class="text-center">
              <h1 class="">Oncología</h1>
              <br>
              <p>El principal propósito de la oncología veterinaria es perseguir el bienestar de los pacientes con cáncer. Mejorando 
                la calidad de vida, minimizando los trastornos orgánicos que produce la enfermedad, prolongando así la sobrevida del 
                paciente.
              </p>
            </div>
          </div>
          
        </div>        
      </div>
    </main>

    <main class=" mainB d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-8  d-flex align-items-center">
            <div class="text-center">
              <h1 class="textV">Exámenes complementarios.</h1>
              <br>
              <p class="textV">Para establecer diagnósticos precisos, es necesario realizar pruebas y, para ello, la Veterinaria
                 PET HOUSE está equipada con instrumentos de última generación. <br>
                Tenemos: <br>
                - Radiografia <br>
                - Ecografia <br>
                - Endoscopia
              </p>

              <!-- <ul >
                <li class="textV">Radiografia</li>
                <li class="textV">Ecografia</li>
                <li class="textV">Endoscopia</li>
              </ul> -->
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-4  ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/complementarios.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
        </div>        
      </div>
    </main>
    
    
    <main class=" mainV d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->
      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-4 ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/fisioterapia.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-8 d-flex align-items-center">
            <div class="text-center">
              <h1 > Fisioterapia</h1>
              <br>
              <p>La fisioterapia canina ha llegado a ser un complemento fundamental en el trtamiento
                y recuperacion de diversas patologias y lesiones que puede sufrir un perro, por medio
                de la aplicacion de diferentes tecnias fisioterapeuticas la salud del animal
              </p>
            </div>
          </div>
          
        </div>        
      </div>
    </main>

    <main class=" mainB d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-8 d-flex align-items-center">
            <div class="text-center">
              <h1 class="textV">Baños y estetica</h1>
              <br>
              <p class="textV">Servicio de baño y corte (cortes de raza, limpieza de glándulas, de oídos, 
                corte de uñas, depilación de orejas, corte sanitario)
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-4 ">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/bañosyestetica.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
        </div>        
      </div>
    </main>
    
    
    <main class=" mainV d-block p-2  text-white  d-flex align-items-center "> <!-- bg-info  vh-100 -->
      
      <div class="container ">
        <div class="row">
          <div class="col-12 col-sm-0 col-md-4">
            
            <div class="text-center pt-4 pb-4">
              <a href="https://www.facebook.com/"> <img class = "img-fluid rounded-circle" src="./imagenes/hospedaje.jpg" alt="huella" width="300" height="300" ></a>   
            </div>
          </div>
          <div class="col-12 col-sm-0 col-md-8  d-flex align-items-center">
            <div class="text-center">
              <h1 class="">Hospedaje de mascotas</h1>
              <br>
              <p>Si quieres que tu mascota se sienta como en casa durante tu ausencia, el Hospedaje de mascotas es para ti. Este 
                servicio de hospedaje te permite encontrar a la familia ideal para acoger a tu engreído durante tu ausencia.
              </p>
            </div>
          </div>
          
        </div>        
      </div>
    </main>
