<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/stylePersonal.css" type="text/css">
  </head>

    <div class="contenedor vh-100">
        
        <div class="texto "><!-- d-flex align-items-center  -->
          <h1 class="titulo"><b> Cuerpo Médico</b></h1> 
          
          <p class="texto2"> 
            Estamos orgullosos de mostrar que contamos <br>            
            con un cuerpo médico completo e integral. <br>
            Compuesto de un gran equipo humano, <br>
            entregados, responsables y siempre listos para <br>
            la atención de nuestros clientes y sus mascotas <br>
            en todos los ámbitos. El equipo se encuentra en <br>
            constante capacitación y aprendizaje, liderado <br>
             por nuestro Jefe Médico: José Luis Segura, <br>
            especializado en la atención de perros y gatos.</p>
        </div>
        </div>       