<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/styleAdoptame.css" type="text/css" />
  </head>
    <main class=" mainxd d-block p-2  text-black  d-flex align-items-center text-center">
    <section id="main-container">
      <article id="sedans">
        <h1>¡Estamos listas para que nos lleves a casa!</h1> 
        <h2>Pao y Almendra</h2>
        <div>Hembritas</div>
        <div>3 meses</div>
        <div>Vacunas al día</div>
        <button id="suvs-btn text-center" class="btn btn-primary mt-4 mb-3">Adóptame<img src="./imagenes/huella.png" alt="huella" width="20" height="20" class="ms-2" /></button>
        <img id="Almendra" src="./imagenes/Rectangle 10.png" width="90%" alt="¡Estamos listas para que nos lleves a casa!" />
      </article>

      <article id="suvs">
        <img id="Almendra" src="./imagenes/Rectangle 12.png" width="90%" alt="¡Estamos listas para que nos lleves a casa!" />
        <button id="suvs-btn text-center" class="btn btn-primary mt-4 mb-3">Adóptame<img src="./imagenes/huella.png" alt="huella" width="20" height="20" class="ms-2" /></button>
        <h1>¡Es momento de adoptarnos!</h1>
        <h2>Camila y Morito</h2>
        <div>Hembra y Macho</div>
        <div>2 meses</div>
        <div>Desparasitados</div>
      </article>

      <article id="luxury">
        <h1>¡No permitas que me quede en las calles!</h1>
        <h2>Laika</h2>
        <div>Hembrita</div>
        <div>3 años</div>
        <div>Vacunas al día</div>
        <button id="suvs-btn text-center" class="btn btn-primary mt-4 mb-3">Adóptame<img src="./imagenes/huella.png" alt="huella" width="20" height="20" class="ms-2" /></button>
        <img id="Almendra" src="./imagenes/Rectangle 14.png" width="90%" alt="¡Estamos listas para que nos lleves a casa!" />
      </article>
    </section>
  </main>