.enviar {
  padding-left: 5vw;
  padding-right: 5vw;

  background-color: white;
  color: black;
  border-color: white;

  border-radius: 20px;
}
.contactanos {
  color: rgba(33, 63, 99, 1);
  font-family: inherit;
  font-weight: bold;
}
.nav-link {
  color: rgb(1, 195, 195);
}
.pethouse {
  font-size: 40px;
}
.mainxd {
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 219, 219);
}
.text-inferior {
  font-size: 10px;
  font-family: inherit;
}
.pethouse {
  display: inline-block;
}
.a{
  display: inline-block;
  color:rgba(33, 63, 99, 1);
}
.cont {
  margin: 0vw 12vw 0vw 12vw;
}

.trans_200 {
  margin-top: 20;
  text-align: center;
  color: #ffd274;
}
.b {
  color: #ffffff;
}

.flex-center {
  justify-content: right;
  align-items: left;
}

.fondo h6 {
  color: #ffffff;
  font-family: inherit;
  font-size: 50px;
}
.fondo h1 {
  color: #ffffff;
  font-family: inherit;
  font-size: 50px;
}

.contenedor {
  width: "100vw";
  height: "100vh";
  display: flex;

  background: url("../imagenes/image93.png");
}
.texto-encima {
  color: white;
  font-size: 62px;
  display: block;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-block-end: 10%;
}

.texto {
  margin-top: auto;
  text-align: center;
  color: #ffffff;
}

/*aqui*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --veryLightgGray: hsl(0, 9%, 82%);
    --veryLightWhite: hsl(0, 0%, 100%);
    --veryLightWhite: hsl(0, 0%, 100%);
    --transparentWhite: hsla(0, 0%, 100%, 0.75);
    --veryLightBlue: hsl(208, 50%, 25%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--veryLightWhite);
}
#main-container{
  top: 1px;
    width: 100px;
    margin: 1px auto 150px;
    border-radius: 10px;
    overflow: hidden;

}
article{
  width: 100%;
  height: 440px;
  padding: 48px;
}
#sedans{
  background-color: var(--veryLightWhite);
}
#suvs{
  background-color: var(--veryLightWhite);
}
#luxury{
  background-color: var(--veryLightWhite);
}
img{
  margin-bottom: 10px;
}
h1{
  color: black;
  font-family: inherit;
  font-size: 18px;
  margin-bottom: 15px;
}
h2{
  color: black;
  font-family: inherit;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
p{
  color: black;
  line-height: 0.5px;
  margin-bottom: 5px;
}
.Almendra{
  width: 148px;
  height: 46px;
  border-radius: 45px;
  border-style: none;
  background-color: var(--veryLightGray);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}
button{
    width: 148px;
    height: 46px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(9, 57, 116);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    text-align: center;
}
#sedans-btn{
  color: var(--veryLightBlue);
}
#suvs-btn{
  color: rgba(33, 63, 99, 1);
}
#luxury-btn{
  color: var(--veryLightBlue);
}
button:hover{
  cursor: pointer;
  border: 2px solid var(--veryLightBlue);  
}
#sedans-btn:hover{
  background-color: var(--veryLightBlue);
  color: var(--veryLightBlue);  
}
#suvs-btn:hover{
  background-color: var(--veryLightBlue);
  color: var(--veryLightBlue);  
}
#luxury-btn:hover{
  background-color: var(--veryLightBlue);
  color: var(--veryLightBlue);  
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-bottom: 40px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
@media (min-width: 944px){
  #main-container{
      margin-top: 170px;
      display: flex;
      width: 924px;
  }
  article{
    margin-top: 1px;
      height: 500px;
  }
  p{
      margin-bottom: 80px;
  }
}


