<main class=" mainxd d-block p-2  text-white  d-flex align-items-center ">
    <!-- bg-info  vh-100 -->
    <!-- Hola -->
    <div class="row">
        <div class="col">
            <div class="row d-flex flex-row align-items-end">

                <div class="col">
                    <div class="event_image">
                        <img src="./imagenes/Ellipse8.png" width="80%" aria-readonly="30" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div id="fondo">
            <h6 class="mt-5">Bienvenido a la Clínica Veterinaria Pet House</h6>
            <h1>Trabajamos contigo por la salud de tu mascota</h1>
        </div>
    </div>
</main>
<div class="contenedor vh-auto d-flex justify-content-center text-center">
    <div class="texto-encima">Quienes Somos</div>
</div>
<!--Hola -->
<main class=" mainxd d-block p-2  text-white  d-flex align-items-center ">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 pt-2 text-center">
                <div>
                    <img src="./imagenes/image5.png" width="450" style="float: none;" alt="" />
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 pt-2 text-center">
                <span class="text-primary text-center">
                    <div class="event_name"><b class="trans_200 fs-1 p-3" href="#">¡Hola!</b></div> <span />
                    <div class="event_name"><b class="trans_200 fs-1 p-3" href="#">Somos Pet House</b></div>
                    <div class="texto">Una clínica veterinaria de atención integral que brinda sus servicios las 24 horas del día todos los días del año. Contamos con un cuerpo médico de profesionales comprometidos, siempre listo ante cualquier necesidad para la salud de tu mascota. Así mismo, usamos equipos médicos de última generación que brindan el soporte necesario para cada situación que se presenta.</div>
            </div>
        </div>

        <!--Mision -->
        <div class="row">
            <div class="col-12">
                <div>
                    <img src="./imagenes/image 81.png" width="450" style="float: right;" alt="" />
                    <span class="text-primary text-center">
                        <div class="event_name"><b class="trans_200 fs-1 p-3" href="">Misión</b></div> <span />
                        <div class="text-center">
                            <div class="texto">Salvaguardar la salud y el bienestar de las mascotas creando conciencia y trasmitiendo valores a la comunidad con un trato humano, respetuoso y responsable, así también, fomentar el crecimiento profesional de todo nuestro personal.</div>
                        </div>
                </div>
            </div>
        </div>

        <!--Vision -->
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 pt-2 text-center">
                <div>
                    <div class="event_image">
                        <img src="./imagenes/image3.png" width="450" style="float: none;" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 pt-2 text-center">
                <span class="text-primary text-center">
                    <div class="event_name"><b class="trans_200 fs-1 p-3" href="">Visión</b></div> <span />
                    <div>
                        <div class="texto">Ser líderes en el sector veterinario ofreciendo excelentes tratamientos médicos, servicios de calidad y los mejores productos del mercado, logrando desarrollar relaciones de largo plazo con nuestros clientes y sus mascotas.</div>
                    </div>
            </div>
        </div>
    </section>
</main>
